/*---------------------------
	PUBLICATIONS DETAIL
---------------------------*/

.publications-detail {
    margin-bottom: 15px;
}

@media (max-width: 575px) {

    .publications-detail {
        margin-bottom: 0;
    }

}

.publications-detail-picture {
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 22px;
    padding: 48px 70px;
    position: relative;
    min-height: 280px;
}

.publications-detail-recommend {
    align-items: flex-start;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 22px;
    padding: 48px 70px;
    position: relative;
    min-height: 280px;
}

.publications-detail-recommend-body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.publications-detail-recommend img {
    filter: blur(4px);
}

.publications-detail-picture::before {
    background: -moz-linear-gradient(0deg, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0.75));
    background: -webkit-linear-gradient(0deg, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0.75));
    background: -o-linear-gradient(0deg, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0.75));
    background: -ms-linear-gradient(0deg, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0.75));
    background: linear-gradient(0deg, rgba(12, 12, 12, 0.75), rgba(12, 12, 12, 0.75));
    backdrop-filter: blur(4px);
    border-radius: 0;
    -webkit-backdrop-filter: blur(4px);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.publications-detail-picture h1 {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -35px;
    padding: 0 0 0 35px;
    position: relative;
    letter-spacing: 2px;
    min-height: 38px;
    width: 100%;
    max-width: 680px;
}

.publications-detail-picture h1::before {
    color: #d2232a;
    content: '';
    display: block;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 2px;
    padding-right: 5px;
    position: absolute;
    top: -2px;
    left: 5px;
    background: #d2232a;
    height: 100%;
    width: 5px;
    transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
}

.publications-detail-picture span {
    color: #fff;
    display: block;
    font-size: .6rem;
    padding: 5px 30px;
    position: absolute;
}

.publications-detail-picture span::before {
    color: #fff;
    content: "\e90c";
    font-family: "icomoon";
    font-size: 1rem;
    font-weight: 100;
    position: absolute;
    top: 0;
    left: 4px;
}

.publications-detail-banner {
    margin-bottom: 35px;
}

.publications-detail-tags {
    margin: 0 0 35px;
}

.publications-detail-tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.publications-detail-tags li {
    display: inline-block;
    margin-right: 5px;
    padding: 0;
    position: relative;
}

.publications-detail-tags li:last-child {
    margin-right: 0;
}

.publications-detail-tags a {
    color: #8a8a8a;
    font-size: 0.9rem;
    position: relative;
}

.publications-detail-text {
    padding-bottom: 25px;
}

.publications-detail-text .first-letter {
    float: left;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    margin: -15px 5px -15px -8px;
}

.publications-detail-text a:not(.btn-danger) {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 28px;
    color: #D2232A;
}

.publications-detail-text a:hover {
    color: #D2232A;
    text-decoration: underline;
}

.publications-detail-text p {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 28px;
    margin-bottom: 28px;
}

.publications-detail-text ol, .publications-detail-text ul {
    margin-bottom: 32px;
}

.publications-detail-text ol > li, .publications-detail-text ul > li {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #000000;
    margin-bottom: 12px;
}

.publications-detail-text ol > li:last-of-type, .publications-detail-text ol > li:last-of-type {
    margin-bottom: 0;
}

.publications-detail-text h1 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
    color: #000000;
    margin-bottom: 32px;
}

.publications-detail-text h2 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #000000;
    margin-bottom: 20px;
}

.publications-detail-text h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #000000;
    margin-bottom: 20px;
}

.publications-detail-text h4 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #000000;
    margin-bottom: 18px;
}

.publications-detail-text img {
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
}

.publications-detail-text table {
    border: 1px solid #DCDCDC;
    margin-bottom: 40px;
}

.publications-detail-text table td {
    border-color: #DCDCDC;
    padding: 10px 15px;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 0;
}

.publications-detail-text table td p{
    padding: 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 0;
}

.tables-responsive{
    overflow: auto;
}

.publications-detail-text table tbody > tr:first-of-type td, .publications-detail-text table tbody > tr:first-of-type td p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 0;
}

.publications-detail-text .notice {
    background: #FFFEF8;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
}

.publications-detail-text .notice > div {
    border: 1px dashed #EEEEEE;
    padding: 30px;
}

.publications-detail-text .notice b {
    font-size: 1.125rem;
    line-height: 16px;
    color: #000000;
    margin-bottom: 15px;
    display: block;
}

.publications-detail-text .notice p, .publications-detail-text .notice li {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 28px;
    color: #000000;
    margin-bottom: 15px;
}

.publications-detail-text .notice a {
    display: block;
    margin-top: 25px;
}

.publications-detail-text blockquote {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 18px;
    color: #000000;
    padding-left: 57px;
    position: relative;
    margin-bottom: 30px;
}

.publications-detail-text .publications-detail-picture h1 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 32px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 20px;
}

.publications-detail-text .publications-detail-picture p:first-of-type {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.publications-detail-text .publications-detail-picture p {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 20px;
    color: #FAFAFA;
    margin-bottom: 30px;
}

.publications-detail-text .publications-detail-picture::before {
    z-index: 1;
}

.publications-detail-text .publications-detail-picture {
    padding: 0;
}

.publications-detail-text .publications-detail-picture img {
    height: 100%;
    position: absolute;
    z-index: 0;
}

.publications-detail-picture-body {
    padding: 50px 70px;
    position: relative;
    z-index: 2;
}

.publications-detail-text .publications-detail-picture a {
    color: #FFFFFF;
    font-size: 0.875rem;
}

.publications-detail-text .publications-detail-picture a:hover {
    text-decoration: none;
}

.publications-detail-text blockquote:before {
    font-family: "icomoon";
    top: 0;
    font-weight: 900;
    left: 0;
    font-size: 2.125rem;
    content: "\e907";
    color: #D2232A;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
}

.publications-detail-text .point {
    background: #FAFAFA;
    margin-bottom: 40px;
    padding: 40px 50px;
}

.publications-detail-text .point p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000000;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E8E8E8;
}

.publications-detail-text .point li {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
}

.publications-detail-text .point li:last-of-type {
    margin-bottom: 0;
}

.publications-detail-quiz {
    background: #FAFAFA;
    padding: 40px 65px 45px 50px;
    margin-bottom: 40px;
}

.publications-detail-quiz__question-container .publications-detail-quiz__youtube{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.publications-detail-quiz .publications-detail-quiz__title {
    font-size: 1.5rem;
    line-height: 29px;
    color: #000000;
    margin-bottom: 0;
}

.publications-detail-quiz .publications-detail-quiz__desc {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: #000000;
    margin-bottom: 0;
}

.publications-detail-quiz .publications-detail-quiz__desc strong {
    font-weight: normal;
}

.publications-detail-quiz__question-container .publications-detail-quiz__question {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 17px;
    color: #000000;
    margin-bottom: 30px;
}

.publications-detail-quiz__question-container .publications-detail-quiz__question.end {
    font-weight: 300;
}

.publications-detail-quiz__answer label {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: #000000;
    margin-left: 15px;
}

.publications-detail-quiz__answer label:hover {
    cursor: pointer;
}

.publications-detail-quiz__answer-container {
    margin-bottom: 40px;
}

.publications-detail-quiz__answer {
    display: block;
    margin-bottom: 10px;
}

.publications-detail-quiz__btn {
    border: none;
    background: #D2232A;
    border-radius: 30px;
    padding: 12px 23px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.publications-detail-quiz__FB {
    background: #4267B2;
    margin-bottom: 15px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.publications-detail-quiz__or {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
    text-align: center;
}

.publications-detail-text a.btn.fb-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 12px 40px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 24px;
    color: #FFFFFF;
    background: #4267B2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    max-width: 320px;
    width: 100%;
}

.publications-detail-text a.btn.fb-me:hover {
    text-decoration: none;
    color: #fff;
    background: #4e69a2;
}

.publications-detail-quiz__btn:disabled {
    background: #BCBCBC;
    cursor: not-allowed;
}

.publications-detail-quiz__number {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 17px;
    color: #D2232A;
}

.publications-detail-quiz__hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #E8E8E8;
}

.publications-detail-sidebar {
    width: 100%;
}

.publications-detail-sidebar > ul {
    background: #FAFAFA;
    margin: 0;
    list-style: none;
    padding: 30px;
    width: 100%;
}

.publications-detail-sidebar > ul ul {
    background: #FAFAFA;
    margin: 0;
    list-style: none;
    padding: 0;
    padding-left: 15px;
}

.publications-detail-sidebar > ul > p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
    margin-bottom: 23px;
}

.publications-detail-sidebar > ul li {
    margin-bottom: 12px;
}

.publications-detail-sidebar > ul li a {
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #000000;
}

@media (max-width: 991px) {

    .publications-detail-text .first-letter {
        color: #d2232a;
        font-size: 1rem;
        line-height: 1.2;
        margin: 0 3px 0 0;
    }

}

.publications-detail-banner {
    margin-bottom: 35px;
}

.publications-detail-docs {
    padding-top: 12px;
}

/*.publications-detail-docs h4 {*/
/*    font-size: 1.25rem;*/
/*    margin-bottom: 28px;*/
/*    text-transform: uppercase;*/
/*}*/

.publications-detail-docs-item a {
    color: #333;
    display: block;
    margin: 25px auto;
    padding-top: 130px;
    position: relative;
    text-align: center;
    transition: color .4s ease;
    min-width: 85px;
    max-width: 165px;
}

.publications-detail-docs-item a::before {
    background-image: url("img/pdf.png");
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
}

.publications-detail-docs-item a:hover {
    color: #d2232a;
}

.publications-detail-social {
    margin-bottom: 80px;
}

.publications-detail-social h4 {
    color: #333;
    font-size: 1.5rem;
    line-height: 29px;
    margin-bottom: 40px;
    /*text-transform: uppercase;*/
}

.publications-detail-social-item {
    align-items: center;
    border: 1px solid #656565;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 25px auto;
    transition: border-color .4s ease;
    height: 105px;
    width: 105px;
}

.publications-detail-social-item a {
    align-items: center;
    color: #656565;
    display: flex;
    font-size: 3rem;
    line-height: 0;
    justify-content: center;
    transition: color .4s ease;
    height: 100%;
    width: 100%;
}

.publications-detail-social-item:hover {
    border-color: #d2232a;
}

.publications-detail-social-item:hover a {
    color: #d2232a;
}

.publications-detail-social-subscribe {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.publications-detail-social-subscribe a {
    align-items: center;
    background-color: #d2232a;
    border-radius: 30px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    justify-content: center;
    margin-bottom: 12px;
    position: relative;
    height: 48px;
    width: 100%;
}

.publications-detail-social-subscribe a::before {
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 50%;
    content: '';
    display: flex;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 40px;
    width: 40px;
}

.publications-detail-social-subscribe a::after,
.publications-detail-social-subscribe a::after {
    align-items: center;
    color: #d2232a;
    content: '';
    display: flex;
    font-family: "icomoon";
    font-size: 1.125rem;
    justify-content: center;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 40px;
    width: 40px;
}

.publications-detail-social-subscribe a:nth-child(1)::after {
    content: '\e900';
}

.publications-detail-social-subscribe a:nth-child(2)::after {
    content: '\e901';
}

.publications-detail-social-subscribe a:hover {
    color: #fff;
}

.publications-detail-advice {
    background: #333333;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 40px;
}

.publications-detail-advice-body {
    padding: 27px 25px 35px 25px;
}

.publications-detail-quiz__question-container .input-group {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.publications-detail-share {
    margin-bottom: 10px;
}

.publications-detail-share > p {
    font-weight: normal;
    font-size: 0.8125rem;
    line-height: 18px;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
}

.publications-detail-advice-body .input-group {
    width: 85%;
}

.publications-detail-advice-body .input-group .input-group-append, .publications-detail-quiz__question-container .input-group .input-group-append {
    position: absolute;
    right: 0;
}

.publications-detail-advice p {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.publications-detail-advice .h3 {
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.publications-detail-advice .advice-img {
    margin-bottom: 0;
    max-width: unset;
    height: 100%;
}

.form-control.advice-input {
    border: none;
    background: #FFFFFF;
    border-radius: 35px !important;
    padding: 8px 23px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    height: 45px;
}

.btn.btn-outline.adviceBtn {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 19px;
    color: #FFFFFF;
    background: #D2232A;
    border-radius: 30px !important;
    padding: 8px 23px;
}

.subscribe-form-item--input-email {
    width: 100%;
}

.advice-input::placeholder {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 19px;
    color: #C5C5C5;
}

.advice-img {
    border-radius: 8px;
}

/* Subscribe-form */
.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.download-form {
    text-align: center;
    margin-top: 30px;
}

.download-form form {
    position: relative;
}

.download-form .subscribe-form-item--btn-submit input, .subscribe-form .subscribe-form-item--btn-submit input {
    left: -20px;
}

.subscribe-form img, .download-form img {
    margin-bottom: 20px;
}

.subscribe-form span, .download-form p {
    margin: auto;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-align: center;
    max-width: 280px;
}

.publications-detail-author .publications-detail__socials {
    justify-content: center;
    display: flex;
}

.publications-detail-author .publications-detail__socials a:not(:last-of-type) {
    margin-right: 15px;
    display: flex;
}

.publications-detail-author .publications-detail__socials img {
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    margin-bottom: 0;
}

.publications-detail-author .publications-detail__socials a:hover img {
    transform: translateY(5px);
}

.publications-detail-author .author-img {
    border-radius: 50%;
    margin-bottom: 17px;
}

.publications-detail-author .publications-detail-author__title {
    font-size: 1.5rem;
    line-height: 29px;
    font-weight: normal;
    margin-bottom: 15px;
}

.publications-detail-author .publications-detail-author__description {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: #555555;
    margin-bottom: 20px;
    width: 70%;
}

.publications-detail-author .publications-detail-author__description:after {
    content: '';
    border-bottom: 2px solid #D2232A;
    width: 55%;
    display: block;
    padding-top: 20px;
}

.publications-detail-author .publications-detail-author__spec {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 17px;
    color: #000000;
    margin-bottom: 0;
}

.publications-detail-author .publications-detail-author__spec strong {
    font-weight: normal;
}

.subscribe-form-item--input-email {
    display: inline-block;
    width: 100%;
}

.subscribe-form-item__control--input-email {
    width: 90%;
    color: #000000;
    border-radius: 35px;
    padding: 8px 26px;
    font-size: 13px;
    line-height: 19px;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.subscribe-form-item--btn-submit {
    display: inline-block;
    position: absolute;
    right: 0;
}

.subscribe-form-item--btn-submit input {
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    background: #d2232a;
    border-radius: 30px;
    border: none;
    padding: 8px 18px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 1s ease-out;
}

.subscribe-form form {
    text-align: center;
    width: 100%;
    position: relative;
}

.subscribe-form-item--btn-submit:hover input {
    background: #e83f46;
}

@media screen and (max-width: 991px) {
    .subscribe-form-item--btn-submit {
        top: 0;
        right: 15%;
        display: block;
    }

    .subscribe-form-item__control--input-email {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe-form-item--input-email {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .publications-detail-quiz__question-container .input-group {
        width: 100%;
    }

    .publications-detail-quiz__FB {
        width: 100%;
    }

    .publications-detail-advice .advice-img {
        display: none;
    }

    .publications-detail-advice .h3 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: normal;
        font-size: 22px;
    }

    .publications-detail-advice p {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
    }

    .publications-detail-advice-body .input-group .advice-input::placeholder {
        text-align: center;
    }

    .publications-detail-advice-body .input-group .subscribe-form-item > input {
        width: 100%;
    }

    .publications-detail-advice-body .input-group .subscribe-form-item {
        width: 100%;
    }

    .publications-detail-advice-body .input-group {
        width: 100%;
    }

    .publications-detail-advice {
        background: #252525;
    }

    .publications-detail-advice-body .input-group .input-group-append, .publications-detail-quiz__question-container .input-group .input-group-append {
        position: unset;
        display: block;
        margin: auto;
    }

    .publications-detail-author .publications-detail-author__description:after {
        margin: auto;
    }

    .publications-detail-advice-body .input-group .input-group-append, .publications-detail-quiz__question-container .input-group .input-group-append {
        width: 100%;
    }

    .publications-detail-advice-body .input-group .input-group-append, .publications-detail-quiz__question-container .input-group .input-group-append {
        width: 100%;
    }

    .publications-detail-advice-body .input-group .input-group-append, .publications-detail-quiz__question-container .input-group .subscribe-form-item > input::placeholder {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .subscribe-form-item--btn-submit {
        display: block;
        position: unset;
        right: unset;
        text-align: center;
        left: unset;
        margin-bottom: 30px;
    }

    .subscribe-form-item__control--input-email::placeholder {
        text-align: center;
    }

    .download-form .subscribe-form-item--btn-submit input, .subscribe-form .subscribe-form-item--btn-submit input {
        left: unset;
        position: unset;
        width: 100%;
    }
}

/*--------------------------------------------------------------
# RADIO BTN
--------------------------------------------------------------*/

.pure-material-radio {
    z-index: 0;
    position: relative;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
}

/* Input */
.pure-material-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -5px;
    top: -3px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #AEAEAE;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

.form-row input[type=checkbox], .form-row input[type=radio] {
    width: 40px;
}

/* Span */
.pure-material-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 2;
    color: #000000;
}

/* Circle */
.pure-material-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 1px; /* Safari */
    border-color: #AEAEAE;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #D2232A;
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
    background-color: #D2232A;
}

.pure-material-radio > input:checked + span::before {
    border-color: #D2232A;
}

.pure-material-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
    opacity: 0.04;
}

.pure-material-radio > input:focus {
    opacity: 0;
}

.pure-material-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
    border-color: #D2232A;
}

/* Disabled */
.pure-material-radio > input:disabled {
    opacity: 0;
}

.pure-material-radio > input:disabled + span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

/*--------------------------------------------------------------
# RADIO BTN
--------------------------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 991px) {
    .publications-detail-advice-body {
        padding: 27px 25px 35px 20px;
    }

    .publications-detail-advice-body .input-group {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .publications-detail-social-item {
        height: 95px;
        width: 95px;
    }

    .publications-detail-social-item a {
        font-size: 2.5rem;
    }

    .publications-detail-social-subscribe a {
        justify-content: flex-start;
        padding-left: 18px;
        height: 42px;
    }

    .publications-detail-social-subscribe a::before {
        height: 34px;
        width: 34px;
    }

    .publications-detail-social-subscribe a::after {
        height: 34px;
        width: 34px;
    }

}

@media (max-width: 767px) {

    .publications-detail-social-subscribe a {
        justify-content: center;
        margin: 0 auto 12px;
        max-width: 315px;
    }

    .publications-detail-quiz .publications-detail-quiz__title{
        font-size: 1.4rem;
    }

    .btn.btn-outline.adviceBtn{
        width: 100%;
    }

    .publications-detail-advice-body {
        padding: 25px;
    }

    .publications-detail-advice-body .input-group {
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 575px) {

    .subscribe-form-item--btn-submit {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .publications-detail-picture {
        padding: 36px 20px 36px 50px;
    }

    .publications-detail-picture h1 {
        font-size: 1rem;
        line-height: 21px;
        width: unset;
    }

    .publications-detail-picture-body {
        padding: 50px;
    }

    .publications-detail-text .point {
        padding: 25px 30px;
    }

    .publications-detail-text ol, .publications-detail-text ul {
        padding-left: 20px;
    }

    .publications-detail-quiz {
        padding: 35px 40px 35px 40px;
    }

    .publications-detail-text .notice > div {
        padding: 20px;
    }

    .publications-detail-text table td {
        /*display: table;*/
    }

    .publications-detail-social h4 {
        margin-bottom: 0;
    }

    .publications-detail-social-item {
        height: 60px;
        width: 60px;
    }

    .publications-detail-social-item a {
        font-size: 1.35rem;
    }

    .publications-detail-social-subscribe {
        margin-top: 15px;
    }

    .publications-detail-social-subscribe a {
        font-size: 1.125rem;
        padding-left: 0;
        height: 48px;
    }

    .publications-detail-social-subscribe a::before,
    .publications-detail-social-subscribe a::after {
        height: 40px;
        width: 40px;
    }

}

@media (max-width: 320px) {

    .publications-detail-social-item {
        height: 45px;
        width: 45px;
    }

    .publications-detail-social-item a {
        font-size: 1.25rem;
    }

}