/*---------------------------
	IDEAS DETAIL
---------------------------*/

.ideas-detail {
	margin-bottom: 15px;
}

@media(max-width: 575px) {

	.ideas-detail {
		margin-bottom: 0;
	}

}

.ideas-detail-picture {
	align-items: flex-start;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 22px;
	padding: 15px;
	position: relative;
	min-height: 280px;
}

.ideas-detail-picture::before {
	background: -moz-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,0)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(270deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(180deg, rgba(153,218,255,0) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#000000',GradientType=0 );
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.ideas-detail-picture h1 {
	align-items: center;
	color: #fff;
	display: flex;
	font-size: 1.28rem;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 15px;
	padding: 0 0 0 35px;
	position: relative;
	letter-spacing: 2px;
	min-height: 38px;
}

.ideas-detail-picture h1::before {
	align-items: center;
	color: #d2232a;
	content: '/';
	display: flex;
	font-size: 3rem;
	font-weight: 900;
	margin-top: 2px;
	padding-right: 5px;
	position: absolute;
	top: -2px;
	left: 5px;
	height: 35px;
}

.ideas-detail-picture span {
	color: #fff;
	display: block;
	font-size: .6rem;
	padding: 5px 30px;
	position: relative;
}

.ideas-detail-picture span::before {
	color: #fff;
	content: "\e90c";
	font-family: "icomoon";
	font-size: 1rem;
	font-weight: 100;
	position: absolute;
	top: 0;
	left: 4px;
}

.ideas-detail-banner {
	margin-bottom: 35px;
}

.ideas-detail-tags {
	margin: 0 0 35px;
}

.ideas-detail-tags ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ideas-detail-tags li {
	display: inline-block;
	margin-right: 5px;
	padding: 0;
	position: relative;
}

.ideas-detail-tags li:last-child {
	margin-right: 0;
}

.ideas-detail-tags a {
	color: #8a8a8a;
	font-size: 0.9rem;
	position: relative;
}

.ideas-detail-text {
	padding-bottom: 25px;
}

.ideas-detail-text .first-letter {
	float: left;
	font-size: 8rem;
	font-weight: 700;
	line-height: 1;
	margin: -15px 5px -15px -8px;
}

.ideas-detail-text p {
	margin-bottom: 32px;
}

.ideas-detail-text h3 {
	font-size: 1.5rem;
	margin-bottom: 32px;
}

.ideas-detail-text h4 {
	color: #333;
	font-size: 1.3rem;
	margin-bottom: 32px;
}

@media(max-width: 991px) {

	.ideas-detail-text .first-letter {
		color: #d2232a;
		font-size: 1rem;
		line-height: 1.2;
		margin: 0 3px 0 0;
	}

}

.ideas-detail-docs {
	padding: 12px 0 65px;
}

.ideas-detail-docs h4 {
	font-size: 1.25rem;
	margin-bottom: 28px;
	text-transform: uppercase;
}

.ideas-detail-docs-item a {
	color: #333;
	display: block;
	margin: 25px auto;
	padding-top: 130px;
	position: relative;
	text-align: center;
	transition: color .4s ease;
	min-width: 85px;
	max-width: 165px;
}

.ideas-detail-docs-item a::before {
	background-image: url("../img/elements/pdf.png");
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 120px;
}

.ideas-detail-docs-item a:hover {
	color: #d2232a;
}

.ideas-detail-social {
	margin-bottom: 80px;
}

.ideas-detail-social h4 {
	color: #333;
	font-size: 1.25rem;
	margin-bottom: 35px;
	text-transform: uppercase;
}

.ideas-detail-social-item {
	align-items: center;
	border: 1px solid #656565;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	margin: 25px auto;
	transition: border-color .4s ease;
	height: 105px;
	width: 105px;
}

.ideas-detail-social-item a {
	align-items: center;
	color: #656565;
	display: flex;
	font-size: 3rem;
	line-height: 0;
	justify-content: center;
	transition: color .4s ease;
	height: 100%;
	width: 100%;
}

.ideas-detail-social-item:hover {
	border-color: #d2232a;
}

.ideas-detail-social-item:hover a {
	color: #d2232a;
}

.ideas-detail-social-subscribe {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.ideas-detail-social-subscribe a {
	align-items: center;
	background-color: #d2232a;
	border-radius: 30px;
	color: #fff;
	display: flex;
	font-size: 1rem;
	line-height: 1;
	justify-content: center;
	margin-bottom: 12px;
	position: relative;
	height: 48px;
	width: 100%;
}

.ideas-detail-social-subscribe a::before {
	align-items: center;
	background-color: #e6e6e6;
	border-radius: 50%;
	content: '';
	display: flex;
	justify-content: center;
	position: absolute;
	top: 4px;
	right: 4px;
	height: 40px;
	width: 40px;
}

.ideas-detail-social-subscribe a::after,
.ideas-detail-social-subscribe a::after {
	align-items: center;
	color: #d2232a;
	content: '';
	display: flex;
	font-family: "icomoon";
	font-size: 1.125rem;
	justify-content: center;
	position: absolute;
	top: 4px;
	right: 4px;
	height: 40px;
	width: 40px;
}

.ideas-detail-social-subscribe a:nth-child(1)::after {
	content: '\e900';
}

.ideas-detail-social-subscribe a:nth-child(2)::after {
	content: '\e901';
}

@media(max-width: 991px) {

	.ideas-detail-social-item {
		height: 95px;
		width: 95px;
	}

	.ideas-detail-social-item a{
		font-size: 2.5rem;
	}

	.ideas-detail-social-subscribe a {
		justify-content: flex-start;
		padding-left: 18px;
		height: 42px;
	}

	.ideas-detail-social-subscribe a::before {
		height: 34px;
		width: 34px;
	}

	.ideas-detail-social-subscribe a::after {
		height: 34px;
		width: 34px;
	}

}

@media(max-width: 767px) {

	.ideas-detail-social-subscribe a {
		justify-content: center;
		margin: 0 auto 12px;
		max-width: 315px;
	}

}

@media(max-width: 575px) {

	.ideas-detail-social h4 {
		margin-bottom: 0;
	}

	.ideas-detail-social-item {
		height: 60px;
		width: 60px;
	}

	.ideas-detail-social-item a {
		font-size: 1.35rem;
	}

	.ideas-detail-social-subscribe {
		margin-top: 15px;
	}

	.ideas-detail-social-subscribe a {
		font-size: 1.125rem;
		padding-left: 0;
		height: 48px;
	}

	.ideas-detail-social-subscribe a::before,
	.ideas-detail-social-subscribe a::after {
		height: 40px;
		width: 40px;
	}

}

@media(max-width: 320px) {

	.ideas-detail-social-item {
		height: 45px;
		width: 45px;
	}

	.ideas-detail-social-item a {
		font-size: 1.25rem;
	}

}